<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="token" value="186-6dd80db8d9c9e622b2d47314029071b311f3a285" />
  </appSettings>
  
  
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="StorageApiBehavior">
                    <!--<webHttp defaultOutgoingResponseFormat="Json" />-->
                  
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings/>
        <client>
            <endpoint address="http://connection.keboola.com/" behaviorConfiguration="StorageApiBehavior" binding="webHttpBinding" contract="Keboola.StorageAPI.IClient" name="StorageApiEndpoint"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
